body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    height: 100vh;
    justify-content: space-between;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}

#petriDish {
    width: 90%;
    height: 50vh;
    position: relative;
    background-color: #d3ffff;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.toolbar-container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

#toolbar {
    display: flex;
    background: #e1e1e1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-top: 20px;
    max-height: 5vh;

}

#clearButton {
    padding: 10px;
    cursor: pointer;
    max-height: 5vh;
}

#statistics {
    display: inline-block;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
    min-width: 120px;
}

#statistics h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

#statistics p {
    font-size: 16px;
    margin: 5px 0;
}

.microbe {
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    cursor: grab;
}

.dish-microbe {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

footer {
    color: #878787;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    #toolbar {
        flex-direction: column;
        margin-right: 0;
        width: 100%;
    }

    #statistics {
        margin: 20px auto;
    }

    #petriDish {
        width: 100%;
        height: 40vh;
    }

    #clearButton {
        width: 100%;
        max-height: none;
    }
}
